*{
    margin: 0;
    padding: 0;
    font-family: 'Times new roman',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #D16BA5 0%, #C777B9 12%, #BA83CA 22.5%, #AA8FD8 31.5%, #9A9AE1 43.5%, #8AA7EC 54%, #79B3F4 61.5%, #69BFF8 71%, #52CFFE 79%, #41DFFF 88%, #46EEFA 93.5%, #5FFBF1 100%);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 100vh;
    background: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px ;
    border-radius: 10px;
    opacity: 0.85;
}

.todo-app h2{
    color:#9149bd ;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f0edf0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 8px 25px;
    background: #2a2929;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    border-radius: 30px;

}

ul li{
    list-style: checkbox;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: text;
    cursor: pointer;
    position: relative;

}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}